.now {}

/*Index*/
.contents {
    margin-top: 80px;
}

.cont {
    display: block;
    width: 1080px;
    margin: 0 auto;
    overflow: hidden;
}

.fullcont {
    display: block;
    width: 100%;
    overflow: hidden;
}



/* Intro */
#intro {}

.cont-wrap {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
}

.cont-divider {
    background-color: #FAFAFA;
    height: 30px;
    margin: 30px 0;
}

.intro-box {
    width: 100%;
    text-align: center;
    margin: 140px 0 100px 0;
}







/* banner */
#banner {}

#banner .whole-wrap {}

#banner .slide {
    width: 100%;
    height: 500px;
    background-color: black;
}

.bn-slide-1 {
    background-image: url(../img/img_1_20200415.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.bn-slide-2 {
    background-image: url(../img/img_2_20180109.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.bn-slide-3 {
    background-image: url(../img/img_3_20180109.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.bn-slide-4 {
    background-image: url(../img/img_4_20180109.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.bn-slide {
    animation-name: MovingSlide;
    animation-duration: 30s;
    animation-delay: 0;
    animation-iteration-count: infinite;

    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 110%;

    background-position: left;
}

@-webkit-keyframes MovingSlide {
    0% {
        background-image: url(img/img_1_20200415.jpg);
        background-position: right;
    }

    30% {
        background-image: url(img/img_2_20180109.jpg);
    }

    60% {
        background-image: url(img/img_3_20180109.jpg);
    }

    80% {
        background-image: url(img/img_4_20180109.jpg);
        background-position: left;
    }
}

@keyframes MovingSlide {
    20% {
        background-image: url(../img/img_1_20200415.jpg);
        background-position: right;
    }

    40% {
        background-image: url(../img/img_2_20180109.jpg);
        background-position: left;
    }

    60% {
        background-image: url(../img/img_3_20180109.jpg);
        background-position: right;
    }

    80% {
        background-image: url(../img/img_4_20180109.jpg);
        background-position: left;
    }
}





/* year */
#history {}

#history .whole-wrap {
    padding: 70px 100px 0 200px;
}

.one-year {
    display: block;
    margin-bottom: 50px;
}

.year {
    margin-right: 50px;
    display: inline-block;
    vertical-align: top;
}

.rows {
    display: inline-block;
}

.row {
    margin-top: 2px;
    margin-bottom: 20px;
}

.month {
    margin-right: 50px;
    display: inline-block;
}

.month-s {
    margin-right: 40px;
    display: inline-block;
}

.explain {
    display: inline-block;
}
















/* movie */
#movie {}

#movie .whole-wrap {
    background-color: #fafafa;
    text-align: center;
    padding: 100px 0;
}

.divider {
    background-color: black;
    width: 70px;
    height: 1px;
    margin: 0 auto 70px;
}

.btn-left {
    background-image: url(../img/btn-arrow-l.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 50px;
    border: none;
    background-color: transparent;

    margin-top: 100px;
}

.btn-right {
    background-image: url(../img/btn-arrow-r.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 50px;
    border: none;
    background-color: transparent;

    margin-top: 100px;
}

/* movie - movie-slide */
.movie-wrap {
    display: block;
    width: 100%;
    height: 360px;
    text-align: center;
    position: relative;
}

#movie-slide {
    width: 930px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    display: flex;
}

#movie-slide > div {
    display: inline-block;
    margin-right: 15px;
}

.tri {
    width: 0px;
    height: 0px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 30px solid transparent;
    border-left: 30px solid #FEDE22;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    text-shadow: 2px 5px 5px black;
}

.movie-thumb-txt {
    color: white;
    font-size: 8px;
    position: absolute;
    top: 8%;
    left: 6%;
}

#movie .text {
    text-align: left;
}


/* slide-img */
#movie .slide > .img1 {
    background-image: url(../img/brand_movie_09.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 180px;
    position: relative;
}

#movie .slide > .img2 {
    background-image: url(../img/brand_movie_10.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 180px;
    position: relative;
}

#movie .slide > .img3 {
    background-image: url(../img/brand_movie_11.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 180px;
    position: relative;
}

#movie .slide > .img4 {
    background-image: url(../img/brand_movie_12.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 180px;
    position: relative;
}

#movie .slide > .img5 {
    background-image: url(../img/brand_movie_13.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 180px;
    position: relative;
}

#movie .slide > .img6 {
    background-image: url(../img/brand_movie_08.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 180px;
    position: relative;
}


/* movie - slick option */

#movie .slick_prev{
            background-color: gray;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 180px;
        }
#movie .slick_next{
            background-color: gray;
            width: 30px;
            height: 30px;
             position: absolute;
            top: 180px;
            right: 50px;
        }

#movie .slick-dots{
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 235px;
    height: 10px;
    
}









/* BI */
#BI {}

#BI > .whole-wrap {
    text-align: center;
    margin-top:80px;
}

.bi-img {
    background-image: url(../img/bi.jpg);
    width: 400px;
    height: 144px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 100px;
}

#BI .border {
    border-bottom: 1px solid lightgray;
}

.download {
    display: inline-flex;
}

.down-btn {
    width: 300px;
    height: 50px;
    background-color: #f7f7f7;
    border: 1px solid lightgray;
    margin: 50px 10px 100px;
}

.down-btn:hover {
    text-decoration: underline;
}
