/* main.html */
/* header font */
.nav-item-submit>a{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
}
.nav-item>a{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    margin: 0;
}
.sub-list>a{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2rem;
}

.sub-item>a{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    color: #333333;
    font-weight: 300;
    letter-spacing: -0.9px;
}





/* Banner font */

.bn-tit-txt {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3rem;
    color: #333333;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1.3;
    
    margin-bottom: 15px;
}

.bn-sub-txt {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.1rem;
    color: #111111;
    font-weight: 400;
    letter-spacing: -0px;
    line-height: 1.7;
}
.bn-btn-txt {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.9rem;
    color: #333333;
    font-weight: 500;
    
    display: inline-block;
    vertical-align: middle;
}





/* Content font */
.min-tit-txt-bk {
    font-size: 1.3rem;
    color: #111111;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 1.3;
    
    margin-bottom: 20px;
}

.tit-txt-bk {
    font-size: 2.5rem;
    color: #111111;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 1.3;
    
    margin-bottom: 20px;
}

.sub-txt-bk {
    font-size: 1rem;
    color: #666666;
    font-weight: 300;
    letter-spacing: -1.2px;
    line-height: 1.7;
    
    margin-bottom: 50px;
}

.btn-txt-bk {
    font-size: 17px;
    font-weight: 800;
    letter-spacing: -1px;
    color: #333333;
}

.tit-txt-wh {
    font-size: 35px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 1.3;
    text-align: center;
    
    margin: 150px 0 20px 0;
}

.sub-txt-wh {
    font-size: 13px;
    color: #ADB0BC;
    font-weight: 300;
    letter-spacing: -1.2px;
    line-height: 1.7;
    text-align: center;
    margin-bottom: 20px;
}

.btn-txt-wh {
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: -1.2px;
}
.cc-tit-txt {
    font-size: 20px;
    color: black;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 1.3;
    text-align: center;
}

.cc-sub-txt {
    font-size: 13px;
    color: #666666;
    font-weight: 300;
    letter-spacing: -1.2px;
    line-height: 1.7;
    text-align: center;
}

.footer-txt{
    display: inline-block;
    
    font-size: 12px;
    color: #666666;
    font-weight:100;
    letter-spacing: -1.2px;
    line-height: 1.7;
    text-align: center;
    margin-bottom: 10px;
}
.footer-txt-bk{
    display: inline-block;
    
    font-size: 12px;
    color: black;
    font-weight: bold;
    letter-spacing: -1.2px;
    line-height: 1.7;
    text-align: center;
    
    margin-bottom: 10px;
}

.web-txt{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.8rem;
    color: #666666;
    font-weight: 800;
    line-height: 3;
}














/* about.html */
/*intro page*/

.intro-box>h4{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2rem;
    color: #333333;
    font-weight: 300;
    line-height: 1.3;
    
    margin-bottom: 30px;
}

.intro-box>p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    color: #333333;
    font-weight: 300;
    line-height: 1.9;
}

.year{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.5rem;
    color: #333333;
    font-weight: 600;
    letter-spacing: -1px;
}
.month{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    color: #666666;
    font-weight: 200;
    letter-spacing: 1px;
}
.month-s{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    color: #666666;
    font-weight: 200;
    letter-spacing: 1px;
}
.explain{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    color: #333333;
    font-weight: 400;
    letter-spacing: 0.2px;
}
#movie h4{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2rem;
    color: #333333;
    font-weight: 300;
    line-height: 1.3;
    
    margin-bottom: 30px;
}

.movie-tit {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.3rem;
    color: #333333;
    font-weight: 500;
    margin: 15px 0;
}

.movie-sub {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.8rem;
    color: #666666;
    font-weight: 200;
    line-height: 1.5;
    letter-spacing: 1px;
}





/* BI 폰트 */
#BI h4{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2rem;
    color: #333333;
    font-weight: 300;
    line-height: 1.3;
    
    margin-bottom: 30px;
}
#BI .sub-tit-txt{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.5rem;
    color: #333333;
    font-weight: 300;
    letter-spacing: 1px;
    
    margin-bottom: 15px;
}
#BI .sub-txt{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.8rem;
    color: #666666;
    font-weight: 200;
    line-height: 1.5;
    letter-spacing: 1px;
    
    margin-bottom: 100px;
}

#BI .btn-txt{font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.8rem;
    color: #333333;
    font-weight: 300;
    line-height: 50px;
    letter-spacing: 1px;
}
















/* customer.html */
/*intro page*/
#question h4,#map-here h4{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.7rem;
    color: black;
    font-weight: 400;
    line-height: 1.3;
    
    margin-bottom: 40px;
}

#question p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    color: #333333;
    font-weight: 300;
    line-height: 1.9;
}


.menu-box>a{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    color: black;
    font-weight: 400;
}

#QNA .sub-txt-bk {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    color: black;
    font-weight: 300;
    letter-spacing: -1.2px;
    
    margin-bottom: 30px;
}
.QNA-item{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    color: black;
    font-weight: 500;
    padding: 0 20px;
}
.answer{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    color: black;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 2;
}


