/* header */
#header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99999;
    box-shadow: 0px 0px 5px .1px rgba(0,0,0,0.2);
}

/* 헤더 이펙트 */
.on-head-1{
    background-color: #313955;
    transition: all 0.5s;
}
.off-head-1{
    background-color:white;
    transition: all 0.5s;
}
.on-head-3{
    background-color: transparent;
    transition: all 0.5s;
}
.off-head-3{
    background-color:white;
    transition: all 0.5s;
}
.header-trans-font{
}
.on-font{
    color: white;
}
.off-font{
    color:black;
}
.on-logo{
    background-image: url(../img/logo_white.svg);
}
.off-logo{
    background-image: url(../img/logo-black.svg);
}
.on-border{
    border-bottom: 2px solid white;
    box-sizing: border-box;
}
.off-border{
    border-bottom: 2px solid black;
    box-sizing: border-box;
}



.gnb-pc{
    z-index: 100;
    width: 1080px;
    height: 80px;
    margin: 0 auto;
    text-align: right;
}
.logo{
    height: 80px;
    display: table-cell;
    vertical-align: middle;
}
.logo>h1>a{
    
    background-repeat: no-repeat;
    
    display: inline-block;
    width: 120px;
    height: 25px;
    
    text-align: left;
    text-indent: -9000px;
}
.nav-list>ul{
    font-size: 0;
    
}
.nav-item{
    display: inline-block;
    height: 80px;
    vertical-align: top;
    
}
.nav-item>a{
    height: inherit;
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px;
}
.nav-item-submit{
    display: inline-block;
    margin-left: 10px;    
}
.nav-item-submit>a{
    display: block;
    padding: 15px 20px;
    background-color: #FEDE22;
    border-radius: 50px;
    margin-top: 16px;
}
.nav-item:hover{
    text-decoration:underline;
    border-bottom: 2px solid black;
    box-sizing: border-box;
}
#header:hover{
    background-color: #fff;
}
#header:hover .header-trans-font{
    color: black;
}
#header:hover .logo>h1>a{
    background-image: url(../img/logo-black.svg);
}




/*헤더 액티브메뉴 시작*/

.active-menu{
    display: none;
    min-width: 1080px;
    height: auto;
    padding-bottom: 50px;
    z-index: 10;
    border-top: 1px solid lightgray;
    background-color:rgba(255,255,255,1);
    position: absolute;
    left: 0;
    right: 0;
    font-size: 0;
/*    액티브메뉴의 전체 줄간격*/
    padding-top: 40px;
    line-height: 35px;
    text-align: center;
}
.active-menu>ul{
    width: 1080px;
    margin: 0 auto;
}
.nav-item:hover .active-menu{
    display: block;
}
.sub-list a:hover{
    text-decoration: underline;
}

.sub-list {
    display: inline-block;
    vertical-align: top;
    margin: 10px 45px;
}






















































