/*index*/

* {
    margin: 0;
    padding: 0;
}

ul,li {
    list-style: none;
}


/*slide*/

#slide {
    height: 300px;
    position: relative;
    overflow: hidden;
}
ul {
    width: 400%;
    height: 100%;
    transition: 1s;
}
ul:after {
    content: "";
    display: block;
    clear: both;
}
li {
    float: left;
    width: 25%;
    height: 100%;
}


.slide-img>li:nth-child(1) {
    background: #faa;
}
.slide-img>li:nth-child(2) {
    background: #ffa;
}
.slide-img>li:nth-child(3) {
    background: #faF;
}
.slide-img>li:nth-child(4) {
    background: #aaf;
}

input {
    display: none;
}
label {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border: 2px solid #666;
    background: #fff;
    transition: 0.3s;
    border-radius: 50%;
    cursor: pointer;
}

.pos {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

#pos1:checked ~ .pos > label:nth-child(1) {
    background: red;
}

#pos2:checked ~ .pos > label:nth-child(2) {
    background: red;
}

#pos3:checked ~ .pos > label:nth-child(3) {
    background: red;
}

#pos4:checked ~ .pos > label:nth-child(4) {
    background: #666;
}


#pos1:checked ~ ul {
    margin-left: 0%;
}

#pos2:checked ~ ul {
    margin-left: -100%;
}

#pos3:checked ~ ul {
    margin-left: -200%;
}

#pos4:checked ~ ul {
    margin-left: -300%;
}


