footer{
    min-width: 1080px;
}
.footer-wrap{
    padding: 50px;
    box-sizing: border-box;
}



/* footRow - 1 */
/*--------------*/
.footRow1{
    border-bottom: 1px solid lightgray;
}
.footRow1 p:nth-of-type(1){
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.footRow1 p:nth-of-type(1)::before{
    content: '';
    display: block;
    width: 50px;
    height: 5px;
    margin-bottom: 20px;
    background-color: black;
}
.footRow1 p:nth-of-type(2){
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    color: gray;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.footRow1 p:nth-of-type(3){
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    color: gray;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.footRow1 .btn-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.btn-box .btn-left button{
    width: 100px;
    height: 40px;
    border: none;
    background-color: #3c3c3c;
    border-radius: 5px;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
    color: white;
}
.btn-box .btn-left button>i{
    color: lightgray;
    margin-left: 30px;
}

.btn-box .btn-right a{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #3c3c3c;
    border-radius: 500px;
    margin-left: 10px;
    font-size: 0;
    text-align: center;
}
.btn-box .btn-right a>i{
    color: white;
    font-size: 1.5rem;
    line-height: 55px;
}




/* footRow - 2 */
/*--------------*/
.footRow2{
    border-bottom: 1px solid lightgray;
}
.notice-box{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}
.notice-box h3{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.notice-item{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 20px;
}
.notice-left .notice-item::after{
    content: 'N';
    text-indent: 3px;
    line-height: 20px;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 7px;
    display: inline-block;
    vertical-align:middle;
    width: 20px;
    height: 20px;
    background-color: orangered;
}
.notice-right .notice-list{
    display: inline-block;
    vertical-align: top;
    margin-left: 40px;
}



/* footRow - 3 */
/*--------------*/
.footRow3>a>h3{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    display: inline-block;
}
.footRow3>a>h3::after{
    content: '';
    width: 1px;
    height: 13px;
    margin: 0 5px 0 13px;
    background-color: gray;
    display: inline-block;
}
.footRow3>a>p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    display: inline-block;
}

.info-box{
    display: flex;
    justify-content: space-between;
}
.info-left>ul{
    margin: 12px 0;
}
.info-left>ul>li{
    display: inline-block;
    margin-right: 10px;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 200;
}
.info-left a{
    background-color: gray;
    padding: 0 10px;
    color: white;
}
.info-right>ul>li{
    display: inline-block;
    margin-left: 5px;
}
.lucyIcon{
    background-image: url(../img/sp_29cm.png);
    background-size: 220px;
    background-position: -360px -30px;
    width: 25px;
    height: 25px;

    display:block;
    text-align: left;
    text-indent: -999999px;
}
.appleIcon{
    background-image: url(../img/sp_29cm.png);
    background-size: 220px;
    background-position: -360px -58px;
    width: 25px;
    height: 25px;

    display:block;
    text-align: left;
    text-indent: -999999px;
}
.googleIcon{
    background-image: url(../img/sp_29cm.png);
    background-size: 220px;
    background-position: -360px -84px;
    width: 25px;
    height: 25px;
    
    display:block;
    text-align: left;
    text-indent: -999999px;
}








