/*---add----*/
/*----------*/
.add-box{
    height: 60px;
    background-color: black;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-left{
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 60px;
}
.add-left strong{
    margin: 0 5px;
    font-weight: 600;
    color: white;
}
.add-left strong:last-child{
    color: red;
}
.add-right{

}
.download{
    border: none;
    padding: 3px 35px 5px 15px; 
    border-radius: 50px;
    background-color: orangered;
    position: relative;

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: white;
}
.download::after{
    content: '';
    display: inline-block;
    background-image: url(../img/icon.png);
    filter: invert();
    background-position: -242px -178px;
    background-size: 500px;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 13px;
    top: 9px;
}




/*---header - absolute -1 ----*/
/*-------------*/
.header-wrap.on{
    z-index: 9999999999;
    height: 200px;
    min-width: 960px;
    margin-bottom: 50px;
    position: relative;
}
.logo-box.on{
    position: absolute;
    top: 30px;
    left: 40px;
}
.logo-box a.on{
    text-align: left;
    text-indent: -99999px;
    background-image: url(../img/sp_29cm_m.png);
    background-size: 120px;
    display: block;
    width: 120px;
    height: 40px;
}

.header-wrap.off{
    position: fixed;
    background-color: white;
    height: 100px;
    min-width: 960px;
    border-bottom: 1px solid lightgray;
    z-index: 9999999999;
    top: 0;
    left: 0;
    right: 0;
}
.logo-box.off{
    position: absolute;
    top: 20px;
    left: 30px;
}
.logo-box a.off{
    text-align: left;
    text-indent: -99999px;
    background-image: url(../img/sp_29cm.png);
    background-size: 200px;
    background-position: 0px -25px;
    display: block;
    width: 55px;
    height: 55px;
}

/*---header - absolute -2 ----*/
/*-------------*/
.tool-box.on{
    position: absolute;
    top: 30px;
    right: 40px;
}
.tool-box.off{
    position: absolute;
    top: 25px;
    right: 40px;
}
.tool-box>ul>li{
    display: inline-block;
    
    margin-left: 8px;
}
.tool-box>ul>li>a.on{
    font-size: 0.8rem;
    color: gray;
    letter-spacing: -0.5px;
}
.tool-box>ul>li>a.off{
    font-size: 0rem;
    color: gray;
    letter-spacing: -0.5px;
}

.iconMypage{
    display: inline-block;
    vertical-align:bottom;
    margin-right: 2px;
    background-image: url(../img/sp_29cm.png);
    background-size: 200px;
    background-position: 0px 0px;
    width: 18px;
    height: 15px;
}
.iconMyheart{
    display: inline-block;
    vertical-align:bottom;
    margin-right: 2px;
    background-image: url(../img/sp_29cm.png);
    background-size: 200px;
    background-position: -25px 0px;
    width: 18px;
    height: 15px;
}
.iconShopping{
    display: inline-block;
    vertical-align:bottom;
    margin-right: 3px;
    background-image: url(../img/sp_29cm.png);
    background-size: 200px;
    background-position: -48px 0px;
    width: 18px;
    height: 15px;
}
.iconLogin{
    display: inline-block;
    vertical-align:bottom;
    margin-right: 2px;
    background-image: url(../img/sp_29cm.png);
    background-size: 200px;
    background-position: -100px 0px;
    width: 18px;
    height: 15px;
}


/*---header - absolute -3 ----*/
/*-------------*/
.title-box.on{
    position: absolute;
    top: 90px;
    left: 40px;
}
.title-box.on>ul>li{
    display: inline-block;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    margin-right: 20px;
}
.title-box.off{
    position: absolute;
    top: 18px;
    left: 110px;
}
.title-box.off>ul>li{
    display: inline-block;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.7rem;
    font-weight: 800;
    margin-right: 20px;
}


.title-box>ul>li:hover{
    border-bottom: 5px solid black;
}
.redDot{
    display: inline-block;
    vertical-align: top;
    margin-left: 3px;
    background-color: orangered;
    border-radius: 200px;
    width: 5px;
    height: 5px;
}

/*---header - absolute -4 ----*/
/*-------------*/
.search-box.on{
    position: absolute;
    top: 80px;
    right: 40px;
}
.search-box.on>a{
    font-size: 3rem;
}
.search-box.off{
    position: absolute;
    top: 58px;
    right: 40px;
}
.search-box.off>a{
    font-size: 1.2rem;
}


/*---header - headRow - 5 ----*/
/*-------------*/
.menu-box.on{
    position: absolute;
    top: 140px;
    left: 40px;
}
.menu-box.on>ul.bold-menu>li{
    display: inline-block;
    line-height: 40px;
    margin-right: 10px;

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
.menu-box.off{
    position: absolute;
    top: 48px;
    left: 110px;
}
.menu-box.off>ul.bold-menu>li{
    display: inline-block;
    line-height: 40px;
    margin-right: 10px;

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
}




.menu-box>ul.bold-menu{
    display: inline-block;
}
.menu-box>ul.italic-menu{
    display: inline-block;
}
.menu-box li>a:hover{
    border-bottom: 4px solid black;
}

.menu-box>ul.bold-menu>li:last-child::after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: gray;
    margin: 0 0 0 20px;

    vertical-align:middle;
}
.menu-box>ul.italic-menu>li{
    display: inline-block;
    line-height: 40px;
    margin-right: 10px;

    font-family: 'Noto Sans KR', sans-serif;
    font-style: italic;
    font-size: 1rem;
    font-weight: 200;
}























