.contents.on{
    min-width: 960px;
    position: relative;
}
.contents.off{
    min-width: 960px;
    position: relative;

    margin-top: 220px;
}


/* 메인 슬라이드*/
/* ----메뉴박스부분---*/

.main-slide{}

.slider-menu{
    position: relative;
    z-index: 2;
    margin-top: -600px;
    top: 600px;
    left: 30px;
    
    width: 250px;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    font-size: 0;
}
.slider-menu>ul>a{
    display: block;
    border-bottom: 4px solid black;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.5;
}
.slider-menu>ul>li{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: 17px;
    letter-spacing: 1px;
}
.slider-menu>ul>li.eng>a{
    font-weight: 100;
}
.slider-menu>ul>li:hover{
    font-weight: 700;
}
.slider-menu>ul>li.eng>a:hover{
    font-weight: 700;
}



/* 메인 슬라이드 부분*/
/* --슬라이드 리스트--*/


.slider-box>li{
    width: 100%;
    height: 700px;
}
.slide-list1{
    background-image: url(../img/banner13\.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
}
.slide-list2{
    background-image: url(../img/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
}
.slide-list3{
    background-image: url(../img/banner7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
}
.slide-list4{
    background-image: url(../img/banner3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
}
.slide-list5{
    background-image: url(../img/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
}
.slider-box .cont-box{
    position: absolute;
    top: 210px;
    left: 400px;
}
.slide-list1 .cont-box>*{
    color: white;
}

.slider-box .cont-box>h3{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    margin: 15px 0;
}
.slider-box .cont-box>p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 20px;
}




/* 뉴스 부분*/
/* ----------------*/

.news{
    display:block;
    
    min-width: 1080px;
    margin: 0 auto;
    padding-left: 280px;
    padding-bottom: 100px;
    box-sizing: border-box;
}
.news::after{
    content: '';
    display: block;
    clear: both;
}
/* 뉴스-리스트 1*/
/* ----------------*/
.news-list1{
    float: left;
    padding-left: 1%;
    margin-top: 200px;
    box-sizing: border-box;
    
    text-align: left;
    width: 35%;
    position: relative;
}
.news-list1::before{
    content: '';
    position: absolute;
    left: 0px;
    top: -30px;
    display: block;
    width: 200px;
    height: 4px;
    background-color: black;
}
.news-list1 .news-cont-box{
    width: 90%;
}
.news-list1 img{
    width: 100%;
}
.news-list1 .news-cont-box h3{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.7rem;
    font-weight: 900;
    margin: 10px 0 20px 0;
}
.news-list1 .news-cont-box p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 15px;
}
.news-list1 .news-cont-box button{
    border: 1px solid lightgray;
    background-color: white;
    color: gray;
    width: 150px;
    text-align: left;
    padding: 5px 10px;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}
.news-list1 .news-cont-box button i{
    margin-top: 5px;
    float: right;
    color: lightgray;
}



/* 뉴스-리스트 2*/
/* ----------------*/
.news-list2{
    float: right;
    padding: 0 3% 0 5%;
    box-sizing: border-box;
    
    text-align: right;
    width: 65%;
    position: relative;
}
.news-list2::before{
    content: '';
    position: absolute;
    right: 0;
    top: -30px;
    display: block;
    width: 200px;
    height: 4px;
    background-color: black;
}
.news-list2>a{

}
.news-list2 img{
    width: 100%;
}
.news-list2 .news-cont-box h3{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.7rem;
    font-weight: 900;
    margin: 10px 0 20px 0;
}
.news-list2 .news-cont-box p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 15px;
}
.news-list2 .news-cont-box button{
    border: 1px solid lightgray;
    background-color: white;
    color: gray;
    width: 150px;
    text-align: left;
    padding: 5px 10px;

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}
.news-list2 .news-cont-box button i{
    margin-top: 5px;
    float: right;
    color: lightgray;
}



/* 뉴스-리스트 3*/
/* ----------------*/
.news-list3{
    float: left;
    padding-left: 3%;
    box-sizing: border-box;

    text-align: left;
    width: 65%;
    position: relative;
}
.news-list3::before{
    content: '';
    position: absolute;
    left: 30px;
    top: -30px;
    display: block;
    width: 200px;
    height: 4px;
    background-color: black;
}

.news-list3 img{
    width: 50%;
    display: inline-block;
    vertical-align: bottom;
}
.news-list3 .news-cont-box{
    margin-left: 30px;
    width: 40%;
    display: inline-block;
}
.news-list3 .news-cont-box h3{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.7rem;
    font-weight: 900;
    margin: 10px 0 20px 0;
}
.news-list3 .news-cont-box p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 15px;
}
.news-list3 .news-cont-box button{
    border: 1px solid lightgray;
    background-color: white;
    color: gray;
    width: 150px;
    text-align: left;
    padding: 5px 10px;

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}
.news-list3 .news-cont-box button i{
    margin-top: 5px;
    float: right;
    color: lightgray;
}



/* 뉴스-인트로 부분*/
/* --인트로 리스트 1--*/
.news-intro{
    display:block;

    min-width: 1080px;
    margin: 0 auto;
    padding-left: 270px;
    box-sizing: border-box;
    font-size: 0;
}
.news-intro::after{
    content: '';
    display: block;
    clear: both;
}
.news-intro > div{
    display: inline-block;
    vertical-align: top;
    width: 49%;
    height: 100%;
    padding: 20px 20px 40px 20px;
    box-sizing: border-box;
    border: 0px solid blue;
}

.news-intro h3{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    margin: 10px 0 20px 0;
}
.news-intro p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

.intro-list1 .img-bg{
/*  백그라운드 이미지를 넣을땐
    꼭 width height대신 padding-top을 넣어도 됨*/
    padding-top: 70%;
    background-image: url(../img/banner6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.intro-list2 .img-bg{
    /*  백그라운드 이미지를 넣을땐
    꼭 width height대신 padding-top을 넣어도 됨*/
    padding-top: 70%;
    background-image: url(../img/22.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.intro-list3 .img-bg{
    /*  백그라운드 이미지를 넣을땐
    꼭 width height대신 padding-top을 넣어도 됨*/
    padding-top: 70%;
    background-image: url(../img/banner5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.intro-list4 .img-bg{
    /*  백그라운드 이미지를 넣을땐
    꼭 width height대신 padding-top을 넣어도 됨*/
    padding-top: 70%;
    background-image: url(../img/8b6c26187ede43ada1bd811f40a0c2ad_20200710154552.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}





/* 어라이벌 부분 */
/* --텝 메뉴 부분--*/
.arrival{
    margin-top: 100px;
}
ul.tab-menus{
    width: 100%;
    height: 100px;
    border: 1px solid red;
    box-sizing: border-box;
    font-size: 0;
}
ul.tab-menus .tab-menu{
    width: 50%;
    height: 100%;
    display: inline-block;
    border: 1px solid blue;
    box-sizing: border-box;
    text-align: center;
}
ul.tab-menus .tab-menu a{
    color: gray;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 100px;
}

/* --탭메뉴 부분--*/
/* --액티브 되었을 시--*/
ul.tab-menus .tab-menu.active{
    background-color: gray;
}
ul.tab-menus .tab-menu.active a{
    color: white;
}


/* --탭-콘텐트 부분--*/
/* --공통--*/
ul.tab-conts {
    background-color: gray;
}
li.tab-cont{
    width: 80%;
    margin: 0 auto;
}
li.tab-cont>ul{
    font-size: 0;

    padding: 25px 0;
}
li.tab-cont li{
    width: 20%;
    height: 100%;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}
ul.tab-conts .txt-box{
    text-align: center;
}
ul.tab-conts .txt-box h4{
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: underline;
    font-size: 1rem;
    font-weight: 300;
    margin: 15px 0;
}
ul.tab-conts .txt-box p{
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.2;
}
ul.tab-conts .txt-box p:last-child{
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    margin: 15px 0;
}
ul.tab-conts .like-box{
    text-align: center;
}
ul.tab-conts .like-box button{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    border: none;
    background-color: transparent;
    color: lightgray;
    margin: 0 5px;
}
ul.tab-conts .like-box button i{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    color: lightgray;
    margin-right: 3px;
}

li.tab1 .img-box{
    /*  백그라운드 이미지를 넣을땐
    꼭 width height대신 padding-top을 넣어도 됨*/
    padding-top: 100%;
    background-image: url(../img/8b6c26187ede43ada1bd811f40a0c2ad_20200710154552.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* --탭 부분--*/
/* --액티브 되었을 시--*/







.contents-wrap{
    display: none;
}



















































