/* Global */

.al{
    position: absolute;
    left: 0;
}
.ar{
    position: absolute;
    right: 0;
}
.ac{
    position: absolute;
    left: 50%;
    transform: translateX(-50%) 
}
.alm{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.arm{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.acm{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}


.ct{
    text-align: center;
}

.fl {
    float: left;
}
.fr {
    float: right;
}

.flx-ct {
    display: flex;
    justify-content: center;
}

.flx-rw {
    display: flex;
    flex-direction: row;
}

.flx-cl {
    display: flex;
    flex-direction: column;
}

.hidden{
    visibility: hidden;
    line-height: 0;
    font-size: 0;
}

.inbm{display: inline-block;
    vertical-align: middle;}


h1,h2,h3,h4,h5{
    padding: 0;
    margin: 0;
}
/* Grid */

.grid {
    float: left;
}

.p1 {
    width: 100%;
}

.p2 {
    width: 50%;
}

.p3 {
    width: 33.33%;
}

.p4 {
    width: 25%;
}

.p5 {
    width: 20%;
}

.mw60 {
    max-width: 70%;
    margin: auto;
}

/* Margin */

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mt80 {
    margin-top: 80px;
}
.mt100 {
    margin-top: 100px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb80 {
    margin-bottom: 80px;
}

.mb100 {
    margin-bottom: 100px;
}
.mb200 {
    margin-bottom: 200px;
}
.mb300 {
    margin-bottom: 300px;
}
.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mr30 {
    margin-right: 30px;
}

.mr40 {
    margin-right: 40px;
}
.mr50 {
    margin-right: 50px;
}
.mr80 {
    margin-right: 80px;
}
.mr100 {
    margin-right: 100px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}

.ml30 {
    margin-left: 30px;
}

.ml40 {
    margin-left: 40px;
}
.ml50 {
    margin-left: 50px;
}
.ml80 {
    margin-left: 80px;
}
.ml100 {
    margin-left: 100px;
}

/* Headlines */
